.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 0;
    color: #fff;
}

.header__container {
    display: grid;
    grid-template-columns: 3fr 6fr 3fr;
    align-items: center;
    gap: 15px;
}
.header__link-phone {
    display: flex;
    justify-self: end;
    align-items: center;
    gap: 3px;
    color: #B8FF20;
    transition: color 0.6s ease-in-out;
}
.header__phone-number {
    color: #fff;
    transition: color 0.6s ease-in-out;
}

.header__link-phone:hover,
.header__link-phone:hover .header__phone-number {
    color: #CDF478;
}

.navigation__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.navigation__item {
    transition: color 0.6s ease-in-out;
}
.navigation__item:hover {
    color: #CDF478;
}